---
home: gallery
key: gallery
---

<div class="page gallery">
	<div class="container-viewport-centered container-viewport-centered--scroll">
		<div class="container-viewport-centered__wrapper container-viewport-centered__wrapper--scroll">
			<div class="gallery-header">
				<div class="gallery-header__left"> 
					<h1>{{this.title}}</h1>
				</div>
				<div class="gallery-header__right">
				<div class="gallery-header__content">{{this.body}}</div>
				</div>
			</div>
			<div class="gallery-items__container">
				{{#each resources.projects}}
				<div class="gallery-items__item">
					<a href="{{this.slug}}.html">
						<div class="gallery-items__item__content">
							<span class="title">{{this.title}}</span>
							<span class="subtitle">{{this.subtitle}}</span>
						</div>
						<img src="images/{{this.images.[0].uri}}.jpg" />
					</a>
				</div>
				{{/each}}
			</div>
			
		</div>
	</div>
</div>
