---
home: active
key: index
---

<div class="page {{this.title}}">
	<ul class="projects">
		{{#each this.resources.projects}}
		<li>
			<a href="{{this.slug}}.html">
				<picture>
					<source media="(min-width:600px)" srcset="images/{{getcover this.images}}_x2.jpg">
					<img src="images/{{getcover this.images}}_thumb.jpg" />
				</picture>
				<h2>{{this.title}}</h2>
			</a>
		</li>
		{{/each}}
	</ul>
</div>

<script src="js/index.min.js" async deferred></script>
