---
home: portfolio
key: portfolio
---


<div class="page project">
	<ul class="project-images">
		<ul>
			<li>
				<picture>
					<source media="(min-width:600px)" srcset="images/{{getcover this.images}}.jpg">
					<img src="images/{{getcover this.images}}_thumb.jpg" />
				</picture>
				<h2>{{this.title}}</h2>
				<div class="content">
					{{{this.body}}}
				</div>
			</li>
		</ul>
		{{#each this.images}}
			{{#unless this.cover}}
			<li>
				<picture>
					<source media="(min-width:600px)" srcset="images/{{this.uri}}.jpg">
					<img src="images/{{this.uri}}_thumb.jpg" />
				</picture>
			</li>
			{{/unless}}
		{{/each}}
	</ul>
</div>


<script src="js/portfolio.min.js" async deferred></script>